body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ff8e8e;
}

.border {
  background-color: rgb(255, 0, 0);
  --bs-border-color: var(--bs-border-color);
}

#projects {
  background-color: #ff8e8e;
}

section {
  padding-top: 5rem;
}
